wheel
setuptools
psycopg2-binary
Babel
lxml
MarkupSafe
Pillow
decorator
docutils
ebaysdk
feedparser
gevent
greenlet
Jinja2
mock
ofxparse
passlib
psutil
pydot
pyparsing
PyPDF2
pyserial
python-dateutil
python-stdnum
pytz
pyusb
qrcode
reportlab
requests
six
suds-py3
vatnumber
vobject
Werkzeug
XlsxWriter
xlwt
